@page "/lotterypage"
@using BlazorTry.ViewModels
@inject LotteryPageViewModel ViewModel

<h3>LotteryPage</h3>

<p>@ViewModel.Name.Value</p>
@*<button class="btn btn-primary" @onclick="ViewModel.Command" @bind->Click me</button>*@